.frex {
  display: flex;
  position: relative; /* Added to position stars relative to this container */
}

.introtexta {
  width: 50%;
  padding: 60px 30px 45px 30px;
   

  font-size:  x-large;
  z-index: 1; 
  border-radius: 19px;
  color: white;
  background-color: rgb(223, 136, 37);
  margin: 10px;
}
.introtexta p {
margin: 20px 0px 15px 0px;

}

.introtext {
  width: 50%;
  padding-left: 3rem;
  z-index: 1; 
  background:linear-gradient(to bottom right ,blue,blue,yellow);
  margin: 10px;
  border-radius: 19px;
  position: relative;  
}


@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.introtext img {
  max-width: 100%;
  height: auto;
  animation: upDown 2s ease-in-out infinite;
  position: relative;
}

.but {
  margin: 60px 10px 0px 0px;
  
  padding: 9px;
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  padding: 8px 22px 8px 22px;
  font-size: larger;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border: solid black;
  cursor: pointer;
}

.but:hover {
  background-color: black;
  color: white;
}

.dif {
  margin-top: 20px;
}

.stars {
  width: 4px;
  height: 4px;
  background: rgb(216, 196, 11);
  border-radius: 50%;
  position: absolute;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Places stars behind other content */
  overflow: hidden; /* Ensure stars don't overflow */
}
