.blued{
background:linear-gradient(to bottom left, black,red);    
 
color: white;
}
.frex{
    display: flex;

    align-items: center;

    justify-content: space-around;
    padding-bottom: 20px;

}
.ce{
color: white;

font-size: 47px;
text-align: center; 
padding: 27px; 
}
