.blued{
/* background:linear-gradient(to bottom right, black,black ,rgb(13, 0, 255),rgb(43, 51, 204));     */
 background-color: black;
color: white;
margin: 30px 0px 30px 0px;
padding: 20px 0px 20px 0px;
}
.frex{
    display: flex;

    align-items: center;

    justify-content: space-around;
    padding-bottom: 20px;

}
.ce{
color: white;

font-size: 67px;
text-align: center; 
padding: 37px; 
}
