.blued{
    background: linear-gradient(to bottom, #071037,black); 
color: white;
margin: 0px ;
padding: 20px 0px 20px 0px;

}
.frex{
    display: flex;

    align-items: center;

    justify-content: space-around;
    padding-bottom: 20px;

}
.ce{
color: white; 

font-size: 67px; 
text-align: center; 
padding: 37px; 
}
