.fade-hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(244, 240, 18), transparent);
  }

*{
  margin: 0px;
  
}  
 .centred{
width: 85% ;
margin:0 auto ;
 }
body{
  background: linear-gradient(to bottom left,rgb(0, 0, 0) ,blue);
}

  