.fade-hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(244, 240, 18), transparent);
  }

body{
  margin: 0px;
  overflow-x: hidden;
}  
 .centred{
width: 85% ;
margin:0 auto ;
 }
body{
  /* background: linear-gradient(to bottom left,#252525 ,blue); */
  /* background:linear-gradient(to bottom left,#252525 ,rgb(255, 255, 255)); */
  background-color: aliceblue;
}

  
main{  overflow-x: hidden;}