 
 .card { 
  border-radius: 8px;
  padding: 20px;
  margin:12px;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background:linear-gradient(to bottom right,#1b36ad,#1b36ad) ;  
  transition: transform 0.2s;
color: white;
cursor: pointer;
}

.card:hover {
  transform: scale(1.05);  
}

.cardImage {
  width: 100%;
  height: auto;
  max-height: 150px; 
  object-fit: cover;  
   margin-bottom: 20px;
}

.cardTitle {
  margin: 0 0 10px;
  font-size: 20px;
  color: #ffffff; /* Change title color to match the design */
 
}

.cardContent {
  font-size: 16px;
  color: #e5d1d1;
  margin: 0;
 
}
