.bg {
  margin-top: 90px;
}

.Text {
  font-size: 50px;
  font-weight: bold;
  padding: 27px;
}

.dif {
  margin-top: 20px; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  align-items: stretch; 
}
 
.blacked{
background:linear-gradient(to bottom right,#1b36ad, #feb47b);
color: white;
border-radius: 9px;
margin: 19px;
}