.cardz{
    width: 24%;
    border-radius: 8px;
    padding: 20px;
    margin:17px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    background-color: white;
    rotate: 2deg;
}
 .cardz img{
width:100%;
object-fit: cover;  
height: 200px; 

}
.cardz:hover{
    transform: scale(1.05);   
}


.hea{
text-align: center;
font-weight: bolder;
font-size: x-large;
}


.de{

font-size: 17px;
}

.reverse {
  rotate: -3deg;
  
  }
  