
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    
  }
  .card:hover img{
scale:1.19;
 
  }
  
  .cardImage {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
  }
  
  .cardTitle {
    font-size: 20px;
     font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  .invertColor {
    /* filter:grayscale(100%)  invert(100%) ; */
  }